spring:
  jpa:
    show-sql: true
    open-in-view: false
  h2:
    console:
      enabled: true #Access from http://localhost:8080/h2-console/, look for log for connection URL and username
#    datasource:
#        url: jdbc:mysql://${MYSQL_HOST:localhost}:${MYSQL_PORT:3306}/${MYSQL_DB:flowable_test}?useUnicode=true&allowPublicKeyRetrieval=true
#        username: ${MYSQL_USERNAME:root}
#        password: ${MYSQL_PASSWORD:password}
  # using local LLM with ollama
  ai:
    ollama:
      chat:
        model: MFDoom/deepseek-v2-tool-calling
server:
  port: 8081

springdoc:
  api-docs:
    resolve-schema-properties: false
  show-actuator: true
  swagger-ui:
    try-it-out-enabled: true
  writer-with-order-by-keys: true
  paths-to-match:
    # these are from flowable rest library
#    - /runtime/tasks/**
#    - /runtime/process-instances/**
#    - /management/**
#    - /history/**
    # these are from this app
    - /api/**


#debug: true
flowable:
  dmn:
    deploy-resources: false
  app:
    deploy-resources: false
  cmmn:
    deploy-resources: false
